/*First Example */

/* .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh; 
}

.title {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 10px;
  border-radius: 50px;
} */

/*second Example*/
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header, .footer {
  background-color: #4c81af;
  color: white;
  text-align: center;
  padding: 30px;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.sidebar {
  background-color: #f4f4f4;
  padding: 20px;
  flex: 1;
}

.main {
  background-color: #ffffff;
  padding: 20px;
  flex: 2;
}

.item {
  margin: 10px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .sidebar, .main {
    flex: 1;
  }
}
